body{
	padding:0;
	margin:0;
}

.gwt-TextBox{
	width: 151px;
}

.gwt-PasswordTextBox{
	width: 151px;
}

.login-container{
	margin: 10px 15px;
}

.dialogButtons button{
	width: 64px;
}